on:
  push:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - id: get-versions
        run: |
          echo ::set-output name=node-version::$(jq -r .engines.node ./package.json)
          echo ::set-output name=npm-version::$(jq -r .engines.npm ./package.json)
      - uses: actions/setup-node@v2
        with:
          node-version: ${{steps.get-versions.outputs.node-version}}
      - run: npm install -g npm@$NPM_VERSION
        env:
          NPM_VERSION: ${{steps.get-versions.outputs.npm-version}}

      - name: verify
        run: |
          npm -v
          node -v
